name: Build MSIX Bundle

on:
  workflow_dispatch      
  
jobs:
  build-msix-bundle:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
        
      - name: Publish Native AOT app win-x64
        run: dotnet publish src/SoloSharpRun.csproj -c Release -r win-x64 /p:Version=1.0.0.0

      - name: Publish Native AOT app win-arm64
        run: dotnet publish src/SoloSharpRun.csproj -c Release -r win-arm64 /p:Version=1.0.0.0

      - name: Prepare MSIX manifest and files
        shell: bash
        run: |
          mkdir -p bundle/x64
          mkdir -p bundle/arm64
          mv src/artifacts/publish/SoloSharpRun/release_win-x64/SoloSharpRun.exe bundle/x64/SoloSharpRun.exe
          mv src/artifacts/publish/SoloSharpRun/release_win-arm64/SoloSharpRun.exe bundle/arm64/SoloSharpRun.exe
          cp -r installer/* bundle/x64/
          cp -r installer/* bundle/arm64/

      - name: Update manifest version
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'bundle/**/AppxManifest.xml'
          search-text: '%VERSION%'
          replacement-text: '1.0.0.0'
          encoding: 'utf8'
          
      - name: Update x64 manifest architecture
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'bundle/x64/AppxManifest.xml'
          search-text: '%PROCESSOR_ARCHITECTURE%'
          replacement-text: 'win-x64'
          encoding: 'utf8'
          
      - name: Update arm64 manifest architecture
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'bundle/arm64/AppxManifest.xml'
          search-text: '%PROCESSOR_ARCHITECTURE%'
          replacement-text: 'win-arm64'
          encoding: 'utf8'

      - name: Create Architecture MSIXs
        run: |
          MakeAppx.exe pack /d "bundle/x64" /p "bundle/output/App_x64.msix"
          MakeAppx.exe pack /d "bundle/arm64" /p "bundle/output/App_arm64.msix"

      - name: Create MSIX Bundle
        run: |
          MakeAppx.exe bundle /d "src/bundle/output" /p "dist/SoloSharpRun.msixbundle"

      - name: Upload msix bundle
        uses: actions/upload-artifact@v4
        with:
          name: Upload msix bundle
          path: dist/SoloSharpRun.msixbundle
